<ion-view>

<ion-content>

<div class="row">

  <div class="col col-50" ng-class="{listView: TvShowVM.list}">

  	<img ng-src="{{TvShowVM.tvshowData.imDBProfilePicture}}">
  	<br>

  	<div>
	  	<label class="checkbox" id="checkbox">
	  		<input type="checkbox"><h3 id="showname">{{TvShowVM.tvshowData.imDBShow}}</h3>
		</label>
	</div>

  </div>
  
</div>

</ion-content>

</ion-view>

<!--
	<h2>{{TvShowVM.tvshowData.episodeName}}</h2>
	<h4>Season: {{TvShowVM.tvshowData.season}} Episode: {{TvShowVM.tvshowData.episodeNumber}}</h4>
	<h4>Air Date: {{TvShowVM.tvshowData.airDate}}</h4>
	<h4>Air Time: {{TvShowVM.tvshowData.airTime}}</h4>
	-->

