<ion-view view-title="Search">
  <ion-content>

	<div class="list">

	  <div class="item item-input-inset">
	    <label class="item-input-wrapper">
	    	<i class="icon ion-search placeholder-icon"></i>
	      <input type="text" placeholder="Search">
	    </label>
	    <button class="button button-small" ng-click="SearchVM.continue()">
	      Submit
	    </button>
	  </div>

	</div>

	
  </ion-content>

  
      <!--lower tabs -->
  <div class="tabs tabs-icon-top">
    <a class="tab-item">
      <i class="icon ion-home" ng-click="SearchVM.continue()"></i>
      Home
    </a>
    <a class="tab-item">
      <i class="icon ion-star"></i>
      Favorites
    </a>
  </div>

</ion-view>
